@model Indiana.Models.TruckingCompanies

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TruckingCompanies</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegalName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dbaname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dbaname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarrierOperation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarrierOperation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HmFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HmFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PcFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PcFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhyStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhyStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhyCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhyCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhyState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhyState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhyZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhyZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhyCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhyCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailingStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailingStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailingCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailingCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailingState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailingState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailingZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailingZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailingCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailingCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mcs150Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mcs150Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mcs150Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mcs150Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mcs150MileageYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mcs150MileageYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OicState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OicState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbrPowerUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbrPowerUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeoLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeoLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddminId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddminId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Usdot">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
